


<ul class="user-menu">
	<li class="dropdown pull-right">

		<a href="" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>@ViewBag.Username<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li><a href="/ADMIN/Admin/HoSo/@ViewBag.ID"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>Hồ sơ</a></li>
			<li><a href="/ADMIN/Login/Exit"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Đăng xuất</a></li>
		</ul>
	</li>

</ul>
